h1,p{
    color:white;
    text-align:center;
}

h1{
    font-size:25px;
}

p{
    font-size:20px;
}

body{
    background: radial-gradient(#40404b, #111118) rgba(34, 34, 40, .94);
    font-family: 'Open Sans', sans-serif;
    margin-top:50px;
}
.progress-bar {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 35px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar-fill{
    height:100%;
    width:0%;
    background:#eb99a1;
    display:flex;
    align-items:center;
    font-weight: bold;
    transition:width 0,25s;
    border-radius: 6px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color:white;
}

  .file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #eb99a1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #eb99a1;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #eb99a1;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #eb99a1;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #120c0e;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }


  .upload-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #4d4d4d;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #1e1e1e;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .upload-image:hover {
    background: #3c3c3c;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .upload-image:active {
    border: 0;
    transition: all .2s ease;
  }